<section class="contact-cta">
  <div class="contact-cta__items">
  <div id="contact-cta__background" class="contact-cta__background"></div>


    <p class="contact-cta__label">lorem ipsum</p>

    <div class="contact-cta__content">
      <h2 class="contact-cta__title">
        <span class="contact-cta__title-line"><span class="contact-cta__accent">Lorem Ipsum Dolor</span></span>
        <span class="contact-cta__title-line">Sit Amet Consectetur?</span>

      </h2>

      <a href="#contact" class="btn contact-cta__button">
        <span class="btn-text">CONTACT US</span>
        <svg class="btn-arrow" xmlns="http://www.w3.org/2000/svg" width="42" height="18" viewBox="0 0 42 18"
          fill="none">
          <path d="M33.0223 15.4547L39.689 8.788M39.689 8.788L33.0223 2.12134M39.689 8.788H1.5" stroke="#19747E"
            stroke-width="3" stroke-linecap="square"></path>
        </svg>
      </a>
    </div>
  </div>
</section>


