<section id="features" class="features">
  <div class="section-normal">
    <div class="features__inner">
      <div class="section-header">
        <p class="section-header__label">Lorem ipsum dolor</p>

        <div class="section-header__content">
          <h2 class="section-header__main">
            <span class="section-header__main-line">Lorem Ipsum</span>
            <span class="section-header__main-line">Starter Features</span>
          </h2>

          <p class="section-header__aside">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.
          </p>
        </div>
      </div>

      <div class="features__cards">


       <article class="aligned-card">
          <div class="aligned-card__image-section">
            <div class="aligned-card__image-wrapper aligned-card__image-wrapper--gold">
              <img src="/assets/images/placeholder-image.svg" alt="Placeholder image" class="aligned-card__image">
            </div>
          </div>

          <div class="aligned-card__content">
            <div class="aligned-card__copy">
              <h3 class="aligned-card__title">Lorem Feature One</h3>
            </div>

            <div class="aligned-card__description">
              <p class="aligned-card__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum
                et posuere magna sed eget risus varius blandit sit amet non magna.
              </p>
            </div>
          </div>
        </article>


        <article class="aligned-card">
          <div class="aligned-card__image-section">
            <div class="aligned-card__image-wrapper aligned-card__image-wrapper--blue">
              <img src="/assets/images/placeholder-image.svg" alt="Placeholder image" class="aligned-card__image">
            </div>
          </div>

          <div class="aligned-card__content">
            <div class="aligned-card__copy">
              <h3 class="aligned-card__title">Lorem Feature Two</h3>
            </div>

            <div class="aligned-card__description">
              <p class="aligned-card__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies
                vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.
              </p>
            </div>
          </div>
        </article>


        <article class="aligned-card">
          <div class="aligned-card__image-section">
            <div class="aligned-card__image-wrapper aligned-card__image-wrapper--gold">
              <img src="/assets/images/placeholder-image.svg"
                alt="Placeholder image" class="aligned-card__image">
            </div>
          </div>

          <div class="aligned-card__content">
            <div class="aligned-card__copy">
              <h3 class="aligned-card__title">Lorem Feature Three</h3>
            </div>

            <div class="aligned-card__description">
              <p class="aligned-card__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod
                semper, vitae elit libero a pharetra augue.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>